:root {
    --red: #f9032f;
    --black: #000;
    --white: #fff;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    
}

.body {
    background-color: #f5f5f5;
}

.form {
    margin: 10vw 37vw;
    width: 400px;
    height: 460px;
}

.form > div {
    font-size: 1rem;
    font-style: normal;
}